# **Homework**: Data talks club data engineering zoomcamp Data loading workshop

Hello folks, let's practice what we learned - Loading data with the best practices of data engineering.

Here are the exercises we will do

# 1. Use a generator

Remember the concept of generator? Let's practice using them to futher our understanding of how they work.

Let's define a generator and then run it as practice.

**Answer the following questions:**

- **Question 1: What is the sum of the outputs of the generator for limit = 5?**
- **Question 2: What is the 13th number yielded**

I suggest practicing these questions without GPT as the purpose is to further your learning.

In [1]:
def square_root_generator(limit):
    n = 1
    while n <= limit:
        yield n ** 0.5
        n += 1

# Example usage:
limit = 15
generator = square_root_generator(limit)

hw1 = 0
for sqrt_value in generator:
    hw1+=sqrt_value
    print(sqrt_value)

print(hw1)

1.0
1.4142135623730951
1.7320508075688772
2.0
2.23606797749979
2.449489742783178
2.6457513110645907
2.8284271247461903
3.0
3.1622776601683795
3.3166247903554
3.4641016151377544
3.605551275463989
3.7416573867739413
3.872983346207417
40.46919660014261

# 2. Append a generator to a table with existing data


Below you have 2 generators. You will be tasked to load them to duckdb and answer some questions from the data

1. Load the first generator and calculate the sum of ages of all people. Make sure to only load it once.
2. Append the second generator to the same table as the first.
3. **After correctly appending the data, calculate the sum of all ages of people.**

In [2]:
def people_1():
    for i in range(1, 6):
        yield {"ID": i, "Name": f"Person_{i}", "Age": 25 + i, "City": "City_A"}

for person in people_1():
    print(person)


def people_2():
    for i in range(3, 9):
        yield {"ID": i, "Name": f"Person_{i}", "Age": 30 + i, "City": "City_B", "Occupation": f"Job_{i}"}


for person in people_2():
    print(person)

{'ID': 1, 'Name': 'Person_1', 'Age': 26, 'City': 'City_A'}
{'ID': 2, 'Name': 'Person_2', 'Age': 27, 'City': 'City_A'}
{'ID': 3, 'Name': 'Person_3', 'Age': 28, 'City': 'City_A'}
{'ID': 4, 'Name': 'Person_4', 'Age': 29, 'City': 'City_A'}
{'ID': 5, 'Name': 'Person_5', 'Age': 30, 'City': 'City_A'}
{'ID': 3, 'Name': 'Person_3', 'Age': 33, 'City': 'City_B', 'Occupation': 'Job_3'}
{'ID': 4, 'Name': 'Person_4', 'Age': 34, 'City': 'City_B', 'Occupation': 'Job_4'}
{'ID': 5, 'Name': 'Person_5', 'Age': 35, 'City': 'City_B', 'Occupation': 'Job_5'}
{'ID': 6, 'Name': 'Person_6', 'Age': 36, 'City': 'City_B', 'Occupation': 'Job_6'}
{'ID': 7, 'Name': 'Person_7', 'Age': 37, 'City': 'City_B', 'Occupation': 'Job_7'}
{'ID': 8, 'Name': 'Person_8', 'Age': 38, 'City': 'City_B', 'Occupation': 'Job_8'}

In [3]:
import dlt

In [4]:
hw_pipeline = dlt.pipeline(destination='duckdb', dataset_name='hw_workshop')

info = hw_pipeline.run(people_1(),
                    table_name="people",
                                        write_disposition="replace")

2024-02-10 11:38:51,309|[WARNING              ]|5124|8747385152|dlt|reference.py|_verify_schema:357|A column record_hash in table people_merge in schema dlt_ipykernel_launcher is incomplete. It was not bound to the data during normalizations stage and its data type is unknown. Did you add this column manually in code ie. as a merge key?
2024-02-10 11:38:51,309|[WARNING              ]|5124|8747385152|dlt|reference.py|_verify_schema:357|A column record_hash in table people_merge2 in schema dlt_ipykernel_launcher is incomplete. It was not bound to the data during normalizations stage and its data type is unknown. Did you add this column manually in code ie. as a merge key?
2024-02-10 11:38:51,309|[WARNING              ]|5124|8747385152|dlt|reference.py|_verify_schema:357|A column record_hash in table people_m in schema dlt_ipykernel_launcher is incomplete. It was not bound to the data during normalizations stage and its data type is unknown. Did you add this column manually in code ie. as a merge key?

In [5]:
info

LoadInfo(pipeline=<dlt.pipeline.pipeline.Pipeline object at 0x11878b130>, metrics={'1707593930.8773918': [{'started_at': DateTime(2024, 2, 10, 19, 38, 51, 304154, tzinfo=Timezone('UTC')), 'finished_at': DateTime(2024, 2, 10, 19, 38, 51, 536684, tzinfo=Timezone('UTC'))}]}, destination_type='dlt.destinations.duckdb', destination_displayable_credentials='duckdb:////Users/shumengshi/Career/2024-data-engineering-zoomcamp/dlt workshop/dlt_ipykernel_launcher.duckdb', destination_name='duckdb', environment=None, staging_type=None, staging_name=None, staging_displayable_credentials=None, destination_fingerprint='', dataset_name='hw_workshop', loads_ids=['1707593930.8773918'], load_packages=[LoadPackageInfo(load_id='1707593930.8773918', package_path='/Users/shumengshi/.dlt/pipelines/dlt_ipykernel_launcher/load/loaded/1707593930.8773918', state='loaded', schema=Schema dlt_ipykernel_launcher at 4707171200, schema_update={}, completed_at=DateTime(2024, 2, 10, 19, 38, 51, 525399, tzinfo=Timezone('UTC')), jobs={'new_jobs': [], 'completed_jobs': [LoadJobInfo(state='completed_jobs', file_path='/Users/shumengshi/.dlt/pipelines/dlt_ipykernel_launcher/load/loaded/1707593930.8773918/completed_jobs/people.735c1dafa7.0.insert_values', file_size=297, created_at=DateTime(2024, 2, 10, 19, 38, 50, 937570, tzinfo=Timezone('UTC')), elapsed=0.5878288745880127, job_file_info=ParsedLoadJobFileName(table_name='people', file_id='735c1dafa7', retry_count=0, file_format='insert_values'), failed_message=None), LoadJobInfo(state='completed_jobs', file_path='/Users/shumengshi/.dlt/pipelines/dlt_ipykernel_launcher/load/loaded/1707593930.8773918/completed_jobs/_dlt_pipeline_state.dddadb51fd.0.insert_values', file_size=529, created_at=DateTime(2024, 2, 10, 19, 38, 50, 937432, tzinfo=Timezone('UTC')), elapsed=0.5879666805267334, job_file_info=ParsedLoadJobFileName(table_name='_dlt_pipeline_state', file_id='dddadb51fd', retry_count=0, file_format='insert_values'), failed_message=None)], 'started_jobs': [], 'failed_jobs': []})], first_run=False)

In [6]:
import duckdb

conn = duckdb.connect(f"{hw_pipeline.pipeline_name}.duckdb")

# let's see the tables
conn.sql(f"SET search_path = '{hw_pipeline.dataset_name}'")
print('Loaded tables: ')
display(conn.sql("show tables"))

# and the data

print("\n\n\n people table below:")

rides = conn.sql("SELECT * FROM people").df()
display(rides)

# print("\n\n\n stream_download table below:")

# passengers = conn.sql("SELECT * FROM stream_download").df()
# display(passengers)

Loaded tables:

┌─────────────────────┐
│        name         │
│       varchar       │
├─────────────────────┤
│ _dlt_loads          │
│ _dlt_pipeline_state │
│ _dlt_version        │
│ people              │
│ people_m            │
│ people_merge        │
│ people_merge2       │
└─────────────────────┘

 people table below:

   id      name  age    city        _dlt_load_id         _dlt_id occupation
0   1  Person_1   26  City_A  1707593930.8773918  KOFntAjWy1lB3g       None
1   2  Person_2   27  City_A  1707593930.8773918  OXX98Syo96I82A       None
2   3  Person_3   28  City_A  1707593930.8773918  j1zFJdjF0W7ugA       None
3   4  Person_4   29  City_A  1707593930.8773918  kTVlguX+M7zjrg       None
4   5  Person_5   30  City_A  1707593930.8773918  eVBHUk6ufvmyuQ       None

In [7]:
info = hw_pipeline.run(people_2(),
                    table_name="people",
                                        write_disposition="append")

2024-02-10 11:38:59,773|[WARNING              ]|5124|8747385152|dlt|reference.py|_verify_schema:357|A column record_hash in table people_merge in schema dlt_ipykernel_launcher is incomplete. It was not bound to the data during normalizations stage and its data type is unknown. Did you add this column manually in code ie. as a merge key?
2024-02-10 11:38:59,773|[WARNING              ]|5124|8747385152|dlt|reference.py|_verify_schema:357|A column record_hash in table people_merge2 in schema dlt_ipykernel_launcher is incomplete. It was not bound to the data during normalizations stage and its data type is unknown. Did you add this column manually in code ie. as a merge key?
2024-02-10 11:38:59,773|[WARNING              ]|5124|8747385152|dlt|reference.py|_verify_schema:357|A column record_hash in table people_m in schema dlt_ipykernel_launcher is incomplete. It was not bound to the data during normalizations stage and its data type is unknown. Did you add this column manually in code ie. as a merge key?

In [8]:
print("\n\n\n people table below:")

passengers = conn.sql("SELECT * FROM people").df()
display(passengers)

 people table below:

    id      name  age    city        _dlt_load_id         _dlt_id occupation
0    1  Person_1   26  City_A  1707593930.8773918  KOFntAjWy1lB3g       None
1    2  Person_2   27  City_A  1707593930.8773918  OXX98Syo96I82A       None
2    3  Person_3   28  City_A  1707593930.8773918  j1zFJdjF0W7ugA       None
3    4  Person_4   29  City_A  1707593930.8773918  kTVlguX+M7zjrg       None
4    5  Person_5   30  City_A  1707593930.8773918  eVBHUk6ufvmyuQ       None
5    3  Person_3   33  City_B  1707593939.3676832  ulhZluS5Q0lXCg      Job_3
6    4  Person_4   34  City_B  1707593939.3676832  5eIIGI/WzRRnWA      Job_4
7    5  Person_5   35  City_B  1707593939.3676832  fPNnxqo09hjRgA      Job_5
8    6  Person_6   36  City_B  1707593939.3676832  r4oXRiML7CT/7A      Job_6
9    7  Person_7   37  City_B  1707593939.3676832  nl1vi60f4LRpWw      Job_7
10   8  Person_8   38  City_B  1707593939.3676832  ixx3go5BCRMnew      Job_8

# 3. Merge a generator

Re-use the generators from Exercise 2.

A table's primary key needs to be created from the start, so load your data to a new table with primary key ID.

Load your first generator first, and then load the second one with merge. Since they have overlapping IDs, some of the records from the first load should be replaced by the ones from the second load.

After loading, you should have a total of 8 records, and ID 3 should have age 33.

Question: **Calculate the sum of ages of all the people loaded as described above.**

In [10]:
info = hw_pipeline.run(people_1(),
                    table_name="people_m",
                        write_disposition="replace",
                      #primary_key='record_hash'
                      )

info = hw_pipeline.run(people_2(),
                    table_name="people_m",
                        write_disposition="merge",
                      primary_key='ID'
                      )


print("\n\n\n people table below:")

rides = conn.sql("SELECT sum(age) FROM people_m").df()
display(rides)

2024-02-10 11:40:13,463|[WARNING              ]|5124|8747385152|dlt|reference.py|_verify_schema:357|A column record_hash in table people_merge in schema dlt_ipykernel_launcher is incomplete. It was not bound to the data during normalizations stage and its data type is unknown. Did you add this column manually in code ie. as a merge key?
2024-02-10 11:40:13,463|[WARNING              ]|5124|8747385152|dlt|reference.py|_verify_schema:357|A column record_hash in table people_merge2 in schema dlt_ipykernel_launcher is incomplete. It was not bound to the data during normalizations stage and its data type is unknown. Did you add this column manually in code ie. as a merge key?
2024-02-10 11:40:13,463|[WARNING              ]|5124|8747385152|dlt|reference.py|_verify_schema:357|A column record_hash in table people_m in schema dlt_ipykernel_launcher is incomplete. It was not bound to the data during normalizations stage and its data type is unknown. Did you add this column manually in code ie. as a merge key?
2024-02-10 11:40:14,077|[WARNING              ]|5124|8747385152|dlt|reference.py|_verify_schema:357|A column record_hash in table people_merge in schema dlt_ipykernel_launcher is incomplete. It was not bound to the data during normalizations stage and its data type is unknown. Did you add this column manually in code ie. as a merge key?
2024-02-10 11:40:14,078|[WARNING              ]|5124|8747385152|dlt|reference.py|_verify_schema:357|A column record_hash in table people_merge2 in schema dlt_ipykernel_launcher is incomplete. It was not bound to the data during normalizations stage and its data type is unknown. Did you add this column manually in code ie. as a merge key?
2024-02-10 11:40:14,078|[WARNING              ]|5124|8747385152|dlt|reference.py|_verify_schema:357|A column record_hash in table people_m in schema dlt_ipykernel_launcher is incomplete. It was not bound to the data during normalizations stage and its data type is unknown. Did you add this column manually in code ie. as a merge key?
2024-02-10 11:40:14,079|[WARNING              ]|5124|8747385152|dlt|reference.py|_verify_schema:357|A column record_hash in table people_merge in schema dlt_ipykernel_launcher is incomplete. It was not bound to the data during normalizations stage and its data type is unknown. Did you add this column manually in code ie. as a merge key?
2024-02-10 11:40:14,080|[WARNING              ]|5124|8747385152|dlt|reference.py|_verify_schema:357|A column record_hash in table people_merge2 in schema dlt_ipykernel_launcher is incomplete. It was not bound to the data during normalizations stage and its data type is unknown. Did you add this column manually in code ie. as a merge key?
2024-02-10 11:40:14,080|[WARNING              ]|5124|8747385152|dlt|reference.py|_verify_schema:357|A column record_hash in table people_m in schema dlt_ipykernel_launcher is incomplete. It was not bound to the data during normalizations stage and its data type is unknown. Did you add this column manually in code ie. as a merge key?

 people table below:

   sum(age)
0     266.0

# Solution: First make sure that the following modules are installed:

In [ ]:
#Install the dependencies
%%capture
!pip install dlt[duckdb]

In [ ]:
# to do: homework :)

Questions? difficulties? We are here to help.
- DTC data engineering course channel: https://datatalks-club.slack.com/archives/C01FABYF2RG
- dlt's DTC cohort channel: https://dlthub-community.slack.com/archives/C06GAEX2VNX